/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ampliseq-colorectal-training — nextflow.config
    STaiMIC 16S microbiome practical
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

nextflow.enable.dsl = 2

executor {
    cpus = 4
}

process {

    // Allow Nextflow to use up to the full 4 cores and 14 GB (leaving 2 GB for OS/system)
    resourceLimits = [ cpus: 4, memory: '14.GB' ]

    cpus = 2
    memory = '6.GB'
    time = '2.h'

    withName: 'CUTADAPT_BASIC' {
        cpus = 4
    }

    withName: 'DADA2_DENOISING' {
        cpus = 4
        memory = '8.GB'
    }

    // Give DADA2 Taxonomy the memory boost it needs for GTDB/heavy DBs
    withName: '.*DADA2_TAXONOMY.*' {
        cpus = 2
        memory = '13.GB'
    }

}

docker {
    enabled = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

manifest {
    name = 'ampliseq-colorectal-training'
    version = '1.0.0'
}

wave {
    enabled = false
}
